<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 d-flex align-items-center">
            <img class="rounded-circle me-4" src="{{user.avatarUrl}}" alt="{{user.username}}" width="100" />
            <h1>@{{user.name}}</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Productos:</h3>
            <div class="row">
                {{#each user.products as |product|}}
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <a href="/products/{{product._id}}" class="linkHome">
                            <div class="card-body d-flex">
                                <div class="col-md-2">
                                    <img src="{{product.image}}" alt="{{product.title}}" width="100" />
                                </div>
                                <div class="col-md-2">
                                    <h5 class="card-title Hometitle">{{product.price}}€</h5>
                                    <p class="card-text Hometitle">{{product.title}}</p>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h5 class="card-text Hometitle">Publicado: </h5>
                                    <p class="card-text Hometitle">{{moment product.createdAt 'DD/MM/YYYY'}}</p>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h5 class="card-text Hometitle">Modificado: </h5>
                                    <p class="card-text Hometitle">{{moment product.updatedAt 'DD/MM/YYYY'}}</p>
                                </div>
                                <div class="col-md-2 d-flex justify-content-end">
                                    <form action="/products/{{product._id}}/delete" method="POST">
                                        <button class="btn btn-danger" type="submit">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>